<div class="content m-3">

  <div class="adding-ride-form m-2">

    <h2>Ajouter une nouvelle sortie vélo</h2>
    <% if current_user.expires_at == nil || current_user.expires_at < Time.now  %>
    <%= link_to connect_strava_oauth_path, method: :patch  do %>
    <%= image_tag "strava.jpg", class: "strava" %>
    <% end %>
    <%= render 'shared/form_strava_not_connected' %>
    <% else %>
    <div class="strava_connected">
    <%= "Compte Strava connecté" %>
    </div>
    <%= render 'shared/form_strava_connected' %>
    <% end %>
  </div>
</div>
