
<div class="adding-ride-form m-2">
<h1 class="city-icon">Ajouter une nouvelle sortie vélo</h1>
    <%= simple_form_for [:host, @ride] do |f| %>
      <div class="row">
        <div class="col-12"><%= f.input :title, label: false, placeholder: "Titre de ta sortie"%></div>
        <div class="col-12"><%= f.input :description, label: false, placeholder: "Ajoute quelques lignes à propos de ta sortie"%></div>
        <div class="col-6"><%= f.input :starting_point, label: false, placeholder: "Indique le point de départ de ta sortie"%></div>
        <div class="col-6"><%= f.input :elevation, label: false, placeholder: "Dénivelé"%></div>
        <div class="col-6"><%= f.input :distance_ride, label: false, placeholder: "Distance"%></div>
        <div class="col-6"><%= f.input :pace_min, label: false, placeholder: "Rythme min"%></div>
        <div class="col-6"><%= f.input :pace_max, label: false, placeholder: "Rythme max"%></div>
        <div class="col-6"><%= f.input :attendees_max, label: false, placeholder: "Max participants" %></div>
        <div class="col-12"><%= f.input :date, as: :date, label: false %></div>
        <div class="col-12"><%= f.time_field :starting_time, as: :time, min: 'hh:mm:ss',max: 'hh:mm:ss' %></div>
      </div>
      <div class="row">
        <div class="col-12"><%= f.input :gpx_file, as: :file, label: false %></div>
      </div>
      <div>
        <%= f.submit "Ajouter", class: "main-button" %>
      </div>
    <% end %>
  </div>
