<div class="content m-3">

  <div class="adding-ride-form m-2">
    <h2>Ajouter une nouvelle sortie vélo</h2>
    <%= simple_form_for [:host, @ride] do |f| %>
      <div class="row">
        <div class="col-12"><%= f.input :title, label: false, placeholder: "Titre de ta sortie"%></div>
        <div class="col-12"><%= f.input :description, label: false, placeholder: "Ajoute quelques lignes à propos de ta sortie"%></div>
        <div class="col-12">
          <%= f.input :starting_point,
                      input_html: { data: { geocoder_target: "address" }, class: "d-none" },
                      wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: ENV['MAPBOX_API_KEY'] } },
                      label: false, placeholder: "Point de départ" %>
        </div>
        <div class="col-6"><%= f.input :elevation, label: false, placeholder: "Dénivelé"%></div>
        <div class="col-6"><%= f.input :distance_ride, label: false, placeholder: "Distance"%></div>
        <div class="col-6"><%= f.input :pace_min, label: false, placeholder: "Rythme min"%></div>
        <div class="col-6"><%= f.input :pace_max, label: false, placeholder: "Rythme max"%></div>
        <div class="col-6"><%= f.input :attendees_max, label: false, placeholder: "Max participants"%></div>
        <div class="col-6 date"><%= f.input :date, html5: true, label: false %></div>
        <div class="col-6"><%= f.input :starting_time, as: :time, label: false, min: 'hh:mm:ss',max: 'hh:mm:ss' %></div>
        <div class="col-12"><%= f.input :gpx_file, as: :file, label: false %></div>
        <%= f.submit "Ajouter", class: "main-button" %>
      </div>
    <% end %>
  </div>

</div>
