<div class="box m-3">
  <% if @rides == [] %>
    <p>Aucune sortie trouvée... N'hésite pas à en créer une !</p>
    <%= link_to "Créer une sortie", new_host_ride_path, class:"main-button" %>
  <% else %>
    <% @rides.each do |ride| %>
      <% url = "https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/path-2+f50a0a(#{ride.mapbox_path})/auto/800x800?access_token=#{ENV['MAPBOX_API_KEY']}" %>
      <%= link_to ride_path(ride) do %>
        <div class="card-index mb-3" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('<%= url %>')">
          <div class="d-flex justify-content-between">
            <p class='city-icon'><%= ride.city.capitalize %></p>
            <p class='geoloc-icon'> <i class="fas fa-map-marker-alt"></i> <%= Geocoder::Calculations.distance_between([47.858205,2.294359], [ride.latitude,ride.longitude]).to_i%> m</p>
          </div>

          <div class="d-flex justify-content-between">
            <div class="icon">
              <i class="fas fa-route"></i>
              <p><%= ride.distance_ride %> km</p>
            </div>
            <div class="icon">
              <i class="fas fa-mountain"></i>
              <p><%= ride.elevation %> m</p>
            </div>
            <div class="icon">
              <i class="fas fa-tachometer-alt"></i>
              <p><%= ride.pace_max %> km/h</p>
            </div>
            <div class="icon">
              <i class="fas fa-users"></i>
              <p><%= ride.participations.count %></p>
            </div>
          </div>
        </div>
      <% end %>
      <% end %>
  <% end %>

</div>
