<% if rides.present? %>
  <% rides.each do |ride| %>
    <%= link_to ride_path(ride) do %>
      <div class="card-dashboard-upcoming mb-3" style="background-image: linear-gradient(rgba(0, 0, 0, <%= ride_status_css(params[:choice]) %>), rgba(0, 0, 0, <%= ride_status_css(params[:choice]) %>)), url('<%= ride.map_url %>')">
        <div class="d-flex flex-row-reverse">
          <p class='city-icon'><%= ride.city.capitalize %></p>
        </div>
        <div class="d-flex flex-column">
          <div class="date-time-icon">
            <div class="date-icon">
              <i class="fas fa-calendar"></i>
              <p><%= ride.date.strftime("%d-%m-%Y") %></p>
            </div>

            <div class="time-icon">
              <i class="fas fa-clock"></i>
              <p><%= ride.starting_time.strftime("%k:%M") %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>


<% if participations.present? %>
  <% participations.each do |participation| %>
    <%= link_to ride_path(participation) do %>
      <div class="card-dashboard-upcoming mb-3" style="background-image: linear-gradient(rgba(0, 0, 0, <%= ride_status_css(params[:choice]) %>), rgba(0, 0, 0, <%= ride_status_css(params[:choice]) %>)), url('<%= participation.map_url %>')">
        <div class="d-flex flex-row-reverse">
          <p class='city-icon'><%= participation.city.capitalize %></p>
        </div>
        <div class="d-flex flex-column">
          <div class="date-time-icon">
            <div class="date-icon">
              <i class="fas fa-calendar"></i>
              <p><%= participation.date.strftime("%d-%m-%Y") %></p>
            </div>

            <div class="time-icon">
              <i class="fas fa-clock"></i>
              <p><%= participation.starting_time.strftime("%k:%M") %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
